<!-- Toolbar -->
<div>
        <mat-toolbar>
          <mat-toolbar-row>
            <span>Table: [ Columns Visible : {{columnsToDisplay.value.length}}]</span>
            <span class="example-spacer"></span>
      
          </mat-toolbar-row>
          <mat-toolbar-row>
            <mat-icon svgIcon="eye" class="mat-icon-custom"></mat-icon>
            <mat-form-field [floatLabel]="'always'">
              <mat-label></mat-label>
              <mat-select [formControl]="columnsToDisplay" multiple>
                <mat-option *ngFor="let column of selectColumnToShow" [value]="column">{{column | uppercase}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-toolbar-row>
        </mat-toolbar>
      
      </div>
      <hr />
      <!-- Table -->
      <!-- <div class="example-container mat-elevation-z8"> -->
        <table id="mat-table" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mat-table"
          multiTemplateDataRows cdkDropListGroup>
      
          <!-- First Header Column For Filter -->
          <ng-container matColumnDef="{{column.name}}"
            *ngFor="let column of columnsForFilter; let i = index; last as isLast;">
            <ng-container *ngIf="column.name == 'select-filter' then selectblock; else elseblock">
            </ng-container>
            <ng-template #selectblock>
              <th mat-header-cell *matHeaderCellDef [style.width.px]="50">
                #
                <div class="grip" appResizable [column]="column">&nbsp;</div>
              </th>
            </ng-template>
            <ng-template #elseblock>
              <th mat-header-cell *matHeaderCellDef class="th-filter-cell" [style.width.px]="column.width">
                <mat-form-field class="mat-form-field-custom" appearance="outline" floatLabel="always">
                  <mat-label>{{column.name}}</mat-label>
                  <input matInput type="text" #f (input)="filterTable(column.name, $event)">
                  <button *ngIf="f.value !== ''" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="f.value=''">
                    <mat-icon svgIcon="close"></mat-icon>
                  </button>
                </mat-form-field>
                <div class="grip" appResizable [column]="column">&nbsp;</div>
              </th>
            </ng-template>
      
          </ng-container>
      
          <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns; let i = index">
      
            <!-- Second Header Column -->
      
            <!-- For select checkbox only  -->
            <ng-container *ngIf="column === 'select' then forselectcolumn; else generalcolumns">
            </ng-container>
            <ng-template #forselectcolumn>
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-template>
            <!-- For rest of columns -->
            <ng-template #generalcolumns>
              <th mat-header-cell (cdkDragStarted)="drag($event, i)" cdkDropList cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event,i)" cdkDrag *matHeaderCellDef mat-sort-header>
      
                <div class="example-handle" cdkDragHandle>
                  <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path
                      d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                    </path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                  </svg>
                </div>
                <span class="marginleft10">{{column}}</span>
              </th>
            </ng-template>
      
      
            <!-- Rows -->
            <td mat-cell *matCellDef="let element"> <span class="marginleft10">{{element[column]}}</span>
            </td>
      
          </ng-container>
          <!-- Expand row -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-diagram">
                  <div class="example-element-position"> {{element.position}} </div>
                  <div class="example-element-symbol"> {{element.symbol}} </div>
                  <div class="example-element-name"> {{element.name}} </div>
                  <div class="example-element-weight"> {{element.weight}} </div>
                </div>
                <div class="example-element-description">
                  {{element.description}}
                  <span class="example-element-description-attribution"> -- Wikipedia </span>
                </div>
              </div>
            </td>
          </ng-container>
      
          <tr mat-header-row class="tr-filter-cell" *matHeaderRowDef="getFilterColumns;sticky: true"></tr>
          <tr mat-header-row class="tr-filter-cell" *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      <!-- </div> -->
      <!-- Paginator -->
      <mat-paginator [disabled]="displayedColumns.length < 2" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>